<dialog #dialog class="mx-auto my-auto max-h-[90vh] w-[calc(100%-2rem)] max-w-md overflow-y-auto rounded-lg bg-(--surface) px-4 py-5 shadow-xl sm:px-8">
    <h1 class="text-xl font-bold text-(--primary-text) sm:text-2xl">Cambiar el estado de la mesa</h1>

    <div class="flex flex-col my-5">
        @if (this.status() != "LIBRE") {
            <button (click)="this.changeStatus('LIBRE')" value="LIBRE" class="cursor-pointer rounded-lg bg-(--surface) px-5 py-3 text-left text-lg transition-all hover:bg-(--surface-hover)">Libre</button>
        }

        @if (this.status() != "OCUPADA") {
            <button (click)="this.changeStatus('OCUPADA')" value="OCUPADA" class="cursor-pointer rounded-lg bg-(--surface) px-5 py-3 text-left text-lg transition-all hover:bg-(--surface-hover)">Ocupada</button>
        }

        @if (this.status() != "NO_DISPONIBLE") {
            <button (click)="this.changeStatus('NO_DISPONIBLE')" value="NO_DISPONIBLE" class="cursor-pointer rounded-lg bg-(--surface) px-5 py-3 text-left text-lg transition-all hover:bg-(--surface-hover)">No disponible</button>
        }
    </div>


    <button (click)="this.close()" class="w-full cursor-pointer rounded-lg bg-(--error) px-5 py-2 text-white hover:bg-(--error-hover) sm:w-auto">Cerrar</button>
</dialog>
