<div class="pt-10">
    @if (this.editMode()) {
        <app-section-title [title]="'Editar un plato'"></app-section-title>
    } @else {
        <app-section-title [title]="'Crea un plato'"></app-section-title>
    }


    <form method="post" (submit)="onSubmit($event)" class="mt-10 px-30 mx-auto flex flex-col">
        <label class="text-lg">Nombre del plato: </label>
        <input type="text" [formField]="dishForm.name" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Descripción: </label>
        <input type="text" [formField]="dishForm.description" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Tiempo de elaboración (minutos): </label>
        <input type="number" [formField]="dishForm.time" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Precio del plato: </label>
        <input type="number" step="0.01" [formField]="dishForm.price" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Categoría: </label>
        <select [formField]="dishForm.categoryName" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all cursor-pointer">
            
            @for (category of this.categoryService.categoryList(); track $index) {
                <option>{{ category.name }}</option>
            }

        </select>

        <button type="submit" class="bg-(--primary) text-white px-5 py-2 my-5 rounded-lg hover:bg-(--primary-hover) transition-all cursor-pointer">
            @if(this.editMode()) {
                Editar plato
            } @else {
                Crear plato
            }
        </button>
    </form>
</div>