<div class="max-w-md bg-[var(--surface)] rounded-lg shadow-sm border border-[var(--border)] overflow-hidden">
	<table class="w-full table-auto text-sm">
		<thead class="bg-[var(--surface-hover)]">
			<tr>
				<th class="px-3 py-2 text-[var(--text-primary)] text-left">Usuario</th>
				<th class="px-3 py-2 text-[var(--text-primary)] text-left">Rol</th>
				<th class="px-3 py-2 text-[var(--text-primary)] text-left">Acciones</th>
			</tr>
		</thead>

		<tbody class="divide-y divide-[var(--border)]">
			@if (this.userService.userList().length === 0) {
				<tr>
					<td class="px-3 py-2 text-[var(--text-secondary)]" colspan="3">No hay usuarios.</td>
				</tr>
			}

			@for (user of this.userService.userList(); track user.username) {
				<tr>
					<td class="px-3 py-2 text-[var(--text-primary)]">{{ user.username }}</td>
					<td class="px-3 py-2 text-[var(--text-primary)]">{{ user.roleName ?? '-' }}</td>
					<td class="px-3 py-2">
						<button (click)="onEditUser(user)" class="text-sm px-2 py-1 rounded bg-[var(--primary-bg)] hover:bg-[var(--primary-bg-hover)] text-[var(--primary)] border border-[var(--primary)] cursor-pointer mr-2">Editar</button>
						<button (click)="onDeleteUser(user.username)" class="text-sm px-2 py-1 rounded bg-[var(--error-bg)] hover:bg-[var(--error-bg-hover)] text-[var(--error)] border border-[var(--error)] cursor-pointer">Eliminar</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
