<div class="pt-10">
    <app-section-title [title]="'Crea una categoría'" [subTitle]="'Después podrás asignar una categoría a un plato'"></app-section-title>


    <form method="post" (submit)="onSubmit($event)" class="mx-auto mt-6 flex flex-col px-1 pb-4 sm:mt-8 sm:px-4">
        <label class="text-lg">Nombre de la categoría: </label>
        <input type="text" [formField]="categoryForm.name" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <button type="submit" class="bg-(--primary) text-white px-5 py-2 my-5 rounded-lg hover:bg-(--primary-hover) transition-all cursor-pointer">
            Crear categoría
        </button>
    </form>
</div>