<div class="mt-10 w-full max-w-lg rounded-lg bg-(--surface)">
    <div class="pt-10 text-center">
        <h1 class="text-3xl text-(--text-primary) font-bold">Crea una mesa</h1>
        <h2 class="text-lg text-(--text-secondary)">Se generará un código QR para esa mesa</h2>
    </div>


    <form method="post" (submit)="onSubmit($event)" class="mx-auto mt-10 flex flex-col px-5 pb-5 sm:px-10 sm:pb-10">
        <label class="text-lg">Nombre de la mesa: </label>
        
        <input type="text" [formField]="tableForm.name" placeholder="Mesa X" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <button type="submit" class="bg-(--primary) text-white px-5 py-2 my-5 rounded-lg hover:bg-(--primary-hover) transition-all cursor-pointer">
            Crear mesa
        </button>
    </form>
</div>