@if (this.authService.isLoggedIn()) {
    <nav class="bg-(--surface) shadow-xl flex items-center justify-between px-6 py-2">
        <div class="flex items-center">
            <div class="flex items-center">
                <a href="/home" class="flex items-center">
                    <img src="images/logo.png" alt="Logo de OrderNow" class="w-16 h-auto shrink-0"/> 
                </a>

                @if (this.restaurantGlobalService.loading()) {
                    <div class="ml-2 w-32 h-6 bg-gray-200 animate-pulse rounded"></div>
                } @else if (this.restaurantGlobalService.restaurant()) {
                    <p class="ml-2 text-lg font-semibold text-(--primary)">{{ this.restaurantGlobalService.restaurant()?.name }}</p>
                }
            </div>
            
            <div class="flex items-center gap-x-2 ml-10">
                <app-nav-link linkName="Home" link="/home" class="flex items-center"></app-nav-link>

                @if (this.restaurantGlobalService.loading()) {
                    <div class="w-16 h-5 bg-gray-200 animate-pulse rounded"></div>
                    <div class="w-16 h-5 bg-gray-200 animate-pulse rounded"></div>
                } @else if (this.restaurantGlobalService.restaurant()) {
                    <app-nav-link linkName="Mesas" link="tables" class="flex items-center"></app-nav-link>
                    <app-nav-link linkName="Platos" link="dishes" class="flex items-center"></app-nav-link>
                    @if (this.authService.getRoleName() === 'MANAGER') {
                        <app-nav-link linkName="Trabajadores" link="workers" class="flex items-center"></app-nav-link>
                        <app-nav-link linkName="Gestion" link="management" class="flex items-center"></app-nav-link>
                    }
                }
            </div>

        </div>
        
        <div>
            <button class="bg-(--error) text-white py-2 px-5 rounded-lg hover:bg-(--error-hover) transition-all cursor-pointer" (click)="this.closeSession()">Cerrar sesión</button>
        </div>
    </nav>
}