<div class="pt-10">
    @if (this.editMode()) {
        <app-section-title [title]="'Editar un trabajador'"></app-section-title>
    } @else {
        <app-section-title [title]="'Crea un trabajador'" [subTitle]="'El trabajador creado podrá acceder a la aplicación y dependiendo de su rol podrá hacer unas cosas u otras'"></app-section-title>
    }


    <form method="post" (submit)="onSubmit($event)" class="mx-auto mt-6 flex flex-col px-1 pb-4 sm:mt-8 sm:px-4">
        <label class="text-lg">Nombre del trabajador: </label>
        <input type="text" [formField]="userForm.username" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Contraseña: </label>
        <input type="password" [formField]="userForm.password" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all"/>

        <label>Role: </label>
        <select #roleSelect [formField]="userForm.roleName" class="text-(--text-primary) py-2 px-3 border border-(--border) rounded-lg my-2 hover:bg-(--surface-hover) transition-all cursor-pointer">
            @for (role of this.roleList; track $index) {
                <option>{{ role.roleName }}</option>
            }

        </select>

        @if (this.isEditingSelf()) {
            <p class="text-sm text-[var(--text-secondary)]">No puedes cambiar el rol de tu propio usuario.</p>
        }

        <button type="submit" class="bg-(--primary) text-white px-5 py-2 my-5 rounded-lg hover:bg-(--primary-hover) transition-all cursor-pointer">
            @if(this.editMode()) {
                Editar trabajador
            } @else {
                Crear trabajador
            }
        </button>
    </form>
</div>