<div class="rounded-lg bg-(--surface) w-full px-5 py-5">
    <div class="flex justify-between">
        <h2 class="text-xl text-center">{{ this.tableSignal().name }}</h2>
        <button (click)="this.deleteTable()" class="text-(--error) cursor-pointer hover:scale-105 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
        </button>
    </div>
    
    
    <app-qr-code [qrToken]="this.tableSignal().qrToken"></app-qr-code>

    <div class="mt-4 flex items-center justify-between gap-3 flex-wrap">
        <app-status-budget [status]="this.tableSignal().status"></app-status-budget>
        <button
            type="button"
            class="rounded-lg bg-(--primary) px-3 py-2 text-sm font-semibold text-white hover:bg-(--primary-hover) cursor-pointer"
            (click)="openStatusDialog()"
        >
            Cambiar estado
      </button>
    </div>

    <app-table-status-dialog #statusDialog [status]="this.tableSignal().status" [table]="this.tableSignal()" (statusChanged)="onStatusChanged($event)"></app-table-status-dialog>
</div>