<section class="my-10">
    <app-section-title [title]="'Lista de platos'" [subTitle]="'Crea un nuevo plato'"></app-section-title>

    <div class="flex flex-col gap-3 sm:flex-row sm:items-center">
        <button (click)="dishDialog.open()" class="w-full cursor-pointer rounded-lg bg-(--primary) px-5 py-2 text-white transition-all hover:bg-(--primary-hover) sm:w-auto">
            Crear nuevo plato
        </button>

        <button (click)="categoryDialog.open()" class="w-full cursor-pointer rounded-lg bg-(--primary) px-5 py-2 text-white transition-all hover:bg-(--primary-hover) sm:w-auto">
            Crear nueva categoría
        </button>
    </div>

    <app-create-dish-dialog #dishDialog></app-create-dish-dialog>
    <app-create-category-dialog #categoryDialog></app-create-category-dialog>

    <app-dish-list (dishEdit)="openDishDialogForEdit($event)"></app-dish-list>

</section>
