/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
    --primary: #4F46E5;
    --primary-hover: #4338CA;
    --accent: #06B6D4;
    --background: #F8FAFC;
    --surface: #FFFFFF;
    --border: #E2E8F0;
    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --success: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;
    --error-hover: #ac2c2c;
    --info: #3B82F6;
}